#headerImgText {
    position: absolute;
    bottom: 10px;
    left: 75px;
    align-content: center;
    font-weight: 600;
    text-shadow: 0 1px 0 black;
}
.subheadingCustom {
    font-size: 100px;
}
.textShadow {
    text-shadow: 0 1px 0 black;
}
.alignCenter {
    text-align: center;
}
.codingHeader{
    font-family: 'VT323', monospace;
    font-size: 2em;
    margin-top: 20px;
}
.copyrightCustom {
    font-size: 14px;
    margin-bottom: 40px;
    text-align: center;
}

img {
    margin-bottom: 40px;
    margin-top: 10px;
}